.nav-bot {
    width: 100%;
    height: 39px;
    background:#232f3e;
    display: flex;

}

.myflex {
display: inline-flex;
justify-content: center;
align-items: center;

}



/*#pin-icon {
    display:flex;
    flex-direction: column;
    justify-content:center;
background: url('https://ik.imagekit.io/a550fxxzq1l/home_pg/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png?updatedAt=1638880732855') no-repeat -71px -340px;
	width: 17px;
	height: 21px !important;
    
}

.sprite {
	background: url('imgs/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png') no-repeat -172px -255px;
	width: 18px;
	height: 14px;
}*/

